
:root 
 {--black-main: #000000
  --white-main: #FFFFFF;
  --orange-main-chart: #FF6B09;
  --blue-chart: #0906EB;
  --yellow-chart:#EA9A05;
  --green-chart:#067806;
  
  --lato700-s28-h34-normal: normal normal 700 28px/34px Lato;
  --lato700-s18-h22-normal: normal normal 700 18px/22px Lato;
  --lato700-s25-h30-normal: normal normal 700 25px/30px Lato;
  --lato700-s14-h17-normal: normal normal 700 14px/17px Lato;
  --lato700-s12-h14-normal: normal normal 700 12px/14px Lato;
  --lato400-s25-h30-normal: normal normal 400 25px/30px Lato;
  --lato400-s22-h26-normal: normal normal 400 22px/26px Lato;
  --lato400-s22-h24-normal: normal normal 400 22px/24px Lato;
  --lato400-s18-h22-normal: normal normal 400 18px/22px Lato;
  --lato400-s16-h19-normal: normal normal 400 16px/19px Lato;
  --lato400-s14-h17-normal: normal normal 400 14px/17px Lato;
  --lato400-s13-h16-normal: normal normal 400 13px/16px Lato;
  --lato400-s12-h14-normal: normal normal 400 12px/14px Lato;
  --lato300-s90-h108-normal: normal normal 300 90px/108px Lato;
  --lato300-s45-h54-normal: normal normal 300 45px/54px Lato;
  
  --lato700-s28-h34-italic: italic normal 700 28px/34px Lato;
  --lato700-s25-h30-italic: italic normal 700 25px/30px Lato;
  --lato700-s18-h22-italic: italic normal 700 18px/22px Lato;
  --lato700-s14-h17-italic: italic normal 700 14px/17px Lato;
  --lato700-s12-h14-italic: italic normal 700 12px/14px Lato;
  --lato400-s25-h30-italic: italic normal 400 25px/30px Lato;
  --lato400-s22-h26-italic: italic normal 400 22px/26px Lato;
  --lato400-s22-h24-italic: italic normal 400 22px/24px Lato;
  --lato400-s18-h22-italic: italic normal 400 18px/22px Lato;
  --lato400-s16-h19-italic: italic normal 400 16px/19px Lato;
  --lato400-s14-h17-italic: italic normal 400 14px/17px Lato;
  --lato400-s13-h16-italic: italic normal 400 13px/16px Lato;
  --lato400-s12-h14-italic: italic normal 400 12px/14px Lato 
  --lato300-s90-h108-italic: italic normal 300 90px/108px Lato;
  --lato300-s45-h54-italic: italic normal 300 45px/54px Lato;}

