:root {--blackMain: #000000;
    --whiteMain: #FFFFFF;
    --orangeMain: #FF6B09;
    --blueChart: #0906EB;
    --yellowChart: #EA9A05;
    --greenChart: #067806;
    --lato700-s28h-h34-normal: normal normal 700 28px/34px Lato, sans-serif;
    --lato700-s18-h22-normal: normal normal 700 18px/22px Lat, sans-serif;
    --lato700-s25-h30-normal: normal normal 700 25px/30px Lato, sans-serif;
    --lato700-s14-h17-normal: normal normal 700 14px/17px Lato, sans-serif;
    --lato700-s12-h14-normal: normal normal 700 12px/14px Lato, sans-serif;
    --lato400-s25-h30-normal: normal normal 400 25px/30px Lato, sans-serif;
    --lato400-s22-h26-normal: normal normal 400 22px/26px Lato, sans-serif;
    --lato400-s22-h24-normal: normal normal 400 22px/24px Lato, sans-serif;
    --lato400-s18-h22-normal: normal normal 400 18px/22px Lato, sans-serif;
    --lato400-s16-h19-normal: normal normal 400 16px/19px Lato, sans-serif;
    --lato400-s14-h17-normal: normal normal 400 14px/17px Lato, sans-serif;
    --lato400-s13-h16-normal: normal normal 400 13px/16px Lato, sans-serif;
    --lato400-s12-h14-normal: normal normal 400 12px/14px Lato, sans-serif;
    --lato300-s90-h108-normal: normal normal 300 90px/108px Lato, sans-serif;
    --lato300-s65-h90-normal: normal normal 300 65px/90px Lato, sans-serif;
    --lato300-s45-h54-normal: normal normal 300 45px/54px Lato, sans-serif;
    --lato700-s28-h34-italic: italic normal 700 28px/34px Lato, sans-serif;
    --lato700-s25-h30-italic: italic normal 700 25px/30px Lato, sans-serif;
    --lato700-s18-h22-italic: italic normal 700 18px/22px Lato, sans-serif;
    --lato700-s14-h17-italic: italic normal 700 14px/17px Lato, sans-serif;
    --lato700-s12-h14-italic: italic normal 700 12px/14px Lato, sans-serif;
    --lato400-s25-h30-italic: italic normal 400 25px/30px Lato, sans-serif;
    --lato400-s22-h26-italic: italic normal 400 22px/26px Lato, sans-serif;
    --lato400-s22-h24-italic: italic normal 400 22px/24px Lato, sans-serif;
    --lato400-s18-h22-italic: italic normal 400 18px/22px Lato, sans-serif;
    --lato400-s16-h19-italic: italic normal 400 16px/19px Lato, sans-serif;
    --lato400-s14-h17-italic: italic normal 400 14px/17px Lato, sans-serif;
    --lato400-s13-h16-italic: italic normal 400 13px/16px Lato, sans-serif;
    --lato400-s12-h14-italic: italic normal 400 12px/14px Lato, sans-serif;
    --lato300-s90-h108-italic: italic normal 300 90px/108px Lato, sans-serif;
    --lato300-s45-h54-italic: italic normal 300 45px/54px Lato, sans-serif; };


body{background-image: url("/src/images/simple_sky.jpg");}
//toggle classes
.hidden {visibility: hidden;}
.visible {visibility: visible;
 height: 2000px;}


//




.search-section .search-container { position: relative;
                                    margin-left: auto;
                                    margin-right: auto;
                                //min-width: 200px;
                                    max-width: 280px;};
.search-section .search-container .searchbar {display: flex;
                                        flex-direction: row;
                                        align-items: center;}

.search-section .search-container .searchbar input{width: 100%;
                                             margin-top: 36px;
                                             margin-left: auto;
                                             margin-right: auto;
                                             border: 1px solid rgb(0, 140, 255);
                                             border-radius: 25px;
                                             height: 50px;
                                             padding-left: 56px;
                                             outline: none;
                                             font: var(--lato400-s14-h17-normal)}
.search-section .search-container .searchbar input:placeholder-shown{padding-left: 56px;
                                                               font: var(--lato400-s14-h17-normal)}
.search-section .search-container .searchbar .icons{margin-top: 35px; fill: #808080d2; cursor: pointer;}
.search-section .search-container .searchbar #gps,
.search-section .search-container .searchbar #star{position: absolute;}
.search-section .search-container .searchbar #gps{left:20px;}
.search-section .search-container .searchbar #star{right:20px;}

.search-section .search-container .cities-scroll {display: flex;
                                                 flex-direction: row;
                                                 justify-content: space-between;
                                                 padding-top: 15px;};

.search-section .search-container .cities-scroll .other-cities{border-radius: 20px;
                                                                    border-width: 0px;
                                                                    color: #808080;
                                                                    font-weight:600;
                                                                    height: 30px;
                                                                    width: 30px;
                                                                visibility: hidden;}

.search-section .search-container .cities-scroll div {overflow: hidden;
                                                      width: 210px;}

.search-section .search-container .cities-scroll div .saved-cities{float: left; white-space: nowrap;
                                                                   padding-inline-start: 0px;
                                                                   margin: 0px;  list-style: none;
                                                                   transform: translatex(0px);
                                                                   transition-duration: 300ms;
                                                                   transition-timing-function: linear;}


.search-section .search-container .cities-scroll div .saved-cities .saved-city{display: inline-block;
                                                                                height: 30px;
                                                                                width: 100px; margin-right: 10px;
                                                                                 background-color: rgba(128, 128, 128, 0.7);
                                                                                 border-radius: 25px;
                                                                                 color: var(--whiteMain);
                                                                                 padding-left: 10px;
                                                                                 padding-top: 6px;
                                                                                 cursor: pointer;
                                                                                 font: var(--lato400-s12-h14-normal);}
.search-section .search-container .cities-scroll div .saved-cities .saved-city .city {display: inline-block; width: 60px;
                                                                                      overflow: hidden;}


.search-section .search-container .cities-scroll div .saved-cities .saved-city .city::first-letter{text-transform: uppercase;}
.search-section .search-container .cities-scroll div .saved-cities .saved-city .close-city{fill: var(--whiteMain);
                                                                                           text-align: end;
                                                                                           margin-left: 10px;
                                                                                             width: 9px;
                                                                                             height: 9px;
                                                                                           margin-bottom: 3px;}

.search-section .search-container .searchbar .icons:hover,
.search-section .search-container .cities-scroll .other-cities:hover,
.search-section .search-container .cities-scroll .city:hover{color: gold; fill: gold;cursor: pointer;}
.search-section .search-container .cities-scroll div .saved-cities .saved-city .close-city:hover{fill: gold;
                                                                                                width: 12px;
                                                                                                height: 12px;}

@media screen and (min-width: 300px){.search-section {margin-top: 40px};}

@media screen and (min-width: 1000px)
{   .search-section {margin-top: 10px};
    .search-section .search-container{max-width: 500px;}
    .search-section .search-container .searchbar input{font: var(--lato400-s18-h22-normal)};
    .search-section .search-container .searchbar input:placeholder-shown{font: var(--lato400-s18-h22-normal)};

    .search-section .search-container .cities-scroll div .saved-cities .saved-city{font: var(--lato400-s14-h17-normal)};
    .search-section .search-container .cities-scroll div{width: 433px;}

}

