:root {--blackMain: #000000;
    --whiteMain: #FFFFFF;
    --orangeMain: #FF6B09;
    --blueChart: #0906EB;
    --yellowChart: #EA9A05;
    --greenChart: #067806;
    --lato700-s28h-h34-normal: normal normal 700 28px/34px Lato, sans-serif;
    --lato700-s18-h22-normal: normal normal 700 18px/22px Lat, sans-serif;
    --lato700-s25-h30-normal: normal normal 700 25px/30px Lato, sans-serif;
    --lato700-s14-h17-normal: normal normal 700 14px/17px Lato, sans-serif;
    --lato700-s12-h14-normal: normal normal 700 12px/14px Lato, sans-serif;
    --lato400-s25-h30-normal: normal normal 400 25px/30px Lato, sans-serif;
    --lato400-s22-h26-normal: normal normal 400 22px/26px Lato, sans-serif;
    --lato400-s22-h24-normal: normal normal 400 22px/24px Lato, sans-serif;
    --lato400-s18-h22-normal: normal normal 400 18px/22px Lato, sans-serif;
    --lato400-s16-h19-normal: normal normal 400 16px/19px Lato, sans-serif;
    --lato400-s14-h17-normal: normal normal 400 14px/17px Lato, sans-serif;
    --lato400-s13-h16-normal: normal normal 400 13px/16px Lato, sans-serif;
    --lato400-s12-h14-normal: normal normal 400 12px/14px Lato, sans-serif;
    --lato300-s90-h108-normal: normal normal 300 90px/108px Lato, sans-serif;
    --lato300-s45-h54-normal: normal normal 300 45px/54px Lato, sans-serif;
    --lato700-s28-h34-italic: italic normal 700 28px/34px Lato, sans-serif;
    --lato700-s25-h30-italic: italic normal 700 25px/30px Lato, sans-serif;
    --lato700-s18-h22-italic: italic normal 700 18px/22px Lato, sans-serif;
    --lato700-s14-h17-italic: italic normal 700 14px/17px Lato, sans-serif;
    --lato700-s12-h14-italic: italic normal 700 12px/14px Lato, sans-serif;
    --lato400-s25-h30-italic: italic normal 400 25px/30px Lato, sans-serif;
    --lato400-s22-h26-italic: italic normal 400 22px/26px Lato, sans-serif;
    --lato400-s22-h24-italic: italic normal 400 22px/24px Lato, sans-serif;
    --lato400-s18-h22-italic: italic normal 400 18px/22px Lato, sans-serif;
    --lato400-s16-h19-italic: italic normal 400 16px/19px Lato, sans-serif;
    --lato400-s14-h17-italic: italic normal 400 14px/17px Lato, sans-serif;
    --lato400-s13-h16-italic: italic normal 400 13px/16px Lato, sans-serif;
    --lato400-s12-h14-italic: italic normal 400 12px/14px Lato, sans-serif;
    --lato300-s90-h108-italic: italic normal 300 90px/108px Lato, sans-serif;
    --lato300-s45-h54-italic: italic normal 300 45px/54px Lato, sans-serif; 
};

.show-chart-div {
    width: 120px;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: center;
    justify-content: center;
    opacity: 1;
    margin: 30 auto;
    padding: 0px;
}

.show-chart-btn {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: var(--orangeMain);
    text-align: center;
    background-color: initial;
    border: none;
    cursor: pointer;
    padding: 0px;
}

.show-chart-btn:active, .show-chart-btn:hover {
    text-decoration: underline;
}

.show-chart-svg {
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
    fill: black;  /* schimba in culoarea alba */
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

.show-chart-svg:hover {
    transform: scale(1.2);
}

.show-chart-btn:focus + .show-chart-svg,
.show-chart-btn:active + .show-chart-svg {
  transform: rotate(180deg);
  transition: transform 0.6s ease;
}

.extention-chart {
    display: none;
    width: 80vw;
    height: 516px;
    margin: 30px auto;
    padding: 5vw;
    border-radius: 35px;
    filter: drop-shadow(0 8px 21.5px rgba(16, 33, 54, .59));
    background-color: rgba(16, 33, 54, 0.8);  /*background-color: rgba(16, 33, 54, 0.6);*/
    animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
}

.hide-chart-div {
    width: 120px;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: center;
    justify-content: center;
    opacity: 1;
    margin: 0px auto 20px auto;
    padding: 0px;
}

.hide-chart-btn {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: var(--orangeMain);
    text-align: center;
    background-color: initial;
    border: none;
    cursor: pointer;
    padding: 0px;
}

.hide-chart-btn:active, .hide-chart-btn:hover {
    text-decoration: underline;

}

.hide-chart-svg {
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
    fill: var(--whiteMain); 
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

.hide-chart-svg:hover {
    transform: scale(1.2);
}

.hide-chart-btn:focus + .hide-chart-svg,
.hide-chart-btn:active + .hide-chart-svg {
  transform: rotate(180deg);
  transition: transform 0.6s ease;
}



@media screen and (min-width: 768px) {

    .extention-chart {
        width: 700;
        height: 310px;
        padding: 10px;
    }

    #myChart {
        width: 670px;
        height: 250px;
    }
}

@media screen and (min-width: 1280px) {

    .extention-chart {
        width: 1030px;
        height: 360px;
    }
    #myChart {
        width: 1000px;
        height: 300px;
    }
}