
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


.weather-data-section{width: 280px;
                      margin-left: auto;
                      margin-right: auto;
                      margin-bottom: 0px;
                      }

.weather-data-container {
                        background-color: #102136;
                        border-radius: 35px;
                        padding-left: 55px;
                        padding-right: 55px;
                        padding-top: 10px;
                        padding-bottom: 15px;
                    }
.weather-data-section .weather-quote{display: flex;
                                     margin-left: auto;
                                     margin-right: auto;
                                     margin-top: 40px;}                      
.weather-data-section .container,
.weather-data-section .change-page-buttons-wrapper {
            margin-left: auto;
            margin-right: auto;}
.weather-data-container svg {
    width: 35px;
    height: 35px;
}

.weather-data-section .weather-quote .weather {display: flex;
                                               flex-direction: column;
                                               width: 280px;
                                               margin-left: auto;
                                               margin-right: auto;
                                               background-color: rgb(158, 166, 176, 0.7);
                                               border-radius: 25px;
                                               text-align: center;
                                               max-height: 220px;}
.weather-data-section .weather-quote .weather .weather-day{color:white;
                                                           font: var(--lato300-s45-h54-normal)};
                                                           
.weather-data-section .weather-quote .weather .weather-time {padding-top: 20px;
                                                             color:white;
                                                             font: var(--lato400-s14-h17-normal)}
.weather-data-section .weather-quote .weather .weather-time .month-time {padding-left: 20px;}                                                          
.weather-data-section .weather-quote .weather .weather-time .month-time *{padding-left: 10px;}
.weather-data-section .weather-quote .weather .weather-time .sunrise-container {padding-top: 20px;
                                                                                padding-bottom: 35px;
                                                                                display: flex;
                                                                                flex-direction: row;
                                                                                justify-content: center;
                                                                                gap: 10px;}                                       

.weather-data-section .weather-quote .quote {margin: 50px auto 50px auto;
                                             border: 1px solid black;
                                             padding-top: 50px;
                                             padding-left: 30px;
                                             padding-right: 15px;
                                             border-radius: 25px;
                                             width: 235px;
                                             background-color: rgba(16, 33, 54, 0.8);
                                             color: white;
                                             background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Quotation_Marks.svg/391px-Quotation_Marks.svg.png?20070401015211');
                                             background-size: contain;
                                             background-repeat: no-repeat;
                                             background-position:0.2cm;
                                             height: 140px;}
.weather-data-section .weather-quote .quote .quote-container{display: flex;
                                                             justify-content: space-between;}
.weather-data-section .weather-quote .quote .quote-container .quote-text {font: var(--lato400-s14-h17-italic)}                                                            
.weather-data-section .weather-quote .quote .quote-container .quote-author{text-align: right;
                                                          margin-top: 20px;
                                                          font: var(--lato400-s16-h19-normal)}

.weather-data-section .weather-quote .quote .quote-container {display: flex;
                                                              flex-direction: column;}



.svg-location-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.temperatures-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}



.weather-boxshadow {
    box-shadow: 0px 5px 33px 0px #10213699;
    border-radius: 35px;
}

.temperatures-mobile {
    display: flex;
    gap: 0px;
}

.minimum-temp {
    padding-right: 5px;
}

.current-temperature {
    font: var(--lato300-s45-h54-normal);
    color: white;
    padding-right: 20px;
}



.maximum-temp {
    padding-left: 5px;
}

.minmax-font {
    font: var(--lato400-s14-h17-normal);
    text-align: center;
    color: #767D85;
}

.temp-font {
    font: var(--lato400-s16-h19-normal);
    text-align: center;
    color: white;
}

.change-page-buttons {
    text-transform: uppercase;
    padding: 6px 40px;
    font: var(--lato700-s14-h17-normal);
    border-radius: 20px;
    border: none;
    background-color: white;
    border: 1px solid rgb(0, 140, 255);
}

.weather-data-section .change-page-buttons-wrapper {text-align: end;}



@media screen and (min-width: 300px){
    .weather-data-section{margin-top: 60px;}
    .weather-data-section .weather-quote{flex-direction: column;}
    .weather-data-section .change-page-buttons-wrapper{padding-bottom: 50px;
                                                       padding-top: 10px;}
    .location-text {padding-top: 5px; color: #767D85;
            font: var(--lato400-s18-h22-normal);}                                                   
}



@media screen and (min-width: 850px) {
    
    .weather-data-section{padding: 5px 33px 0px;
        width: auto; margin-top: 0px;}
    

    .weather-data-section .container,
    .weather-data-section .change-page-buttons-wrapper{width: 400px;
                                                      margin-left: calc(100vw - 500px);
                                                      margin-right: 100px;
                                                      padding-bottom: 0px;
                                                      padding-top: 20px;
                                                      
                                                    }


    .weather-data-section .weather-quote{flex-direction: row;
                                         align-items: center;
                                        margin-left: auto;
                                        margin-right: auto;}                     
    .weather-data-section .weather-quote .weather {width: 500px;
                                                   margin-right: 0px;
                                                   height: 251px;}                              
    .weather-data-section .weather-quote .weather .weather-time {display: flex;
                                                                 flex-direction: row;
                                                                 gap: 30px;                                                           
                                                                 font: var(--lato400-s18-h22-normal);}
    .weather-data-section .weather-quote .quote {margin-top: 10px;
                                                 margin-left: calc(100vw - 700px);
                                                 margin-right: 15px;
                                                 width: 250px;
                                                 margin-bottom: 0px;}
    .weather-data-section .weather-quote .quote .quote-container .quote-text {font: var(--lato400-s16-h19-italic)}                                                            
.weather-data-section .weather-quote .quote .quote-container .quote-author{text-align: right;
                                                          margin-top: 13px;
                                                          font: var(--lato400-s18-h22-normal)}
    .weather-data-section .weather-quote .weather .weather-day{font: var(--lato300-s65-h90-normal);}
   .weather-data-section .weather-quote .weather .weather-time .month-time {padding-left: 45px;}   
    .weather-data-section .weather-quote .weather .weather-time .sunrise-container {padding-top: 0px; padding-right:45px}



    .temperatures-wrapper {
        flex-direction: column;
    }

    .location-text {font: var(--lato400-s25-h30-normal);}

    .current-temperature {
        font-size: 40px;
        font-weight: 700;
        line-height:150%;
    }

    .minmax-font {
        font-size: var(--lato400-s18-h22-normal);
    }

    .minimum-temp {
        padding-right: 10px;
    }

    .maximum-temp {
        padding-left: 10px;
    }

    .temp-font {
        font-size: var(--lato400-s18-h22-normal);
    }

    .change-page-buttons-wrapper {
        padding-top: 20px;
    }
}

