<section class="search-section">
    <div class="search-container">
        <form class="form">
            <svg width="22" height ="22" class="icons" id="gps">
              <use href = "/src/images/header-symbol-defs.svg#icon-gps"></use>
            </svg>
      
            <label for="city"></label>
            <input type="text" placeholder="Enter the city...">
      
            <svg width="22" height ="22" class="icons" id="star">
              <use href = "/src/images/header-symbol-defs.svg#icon-star"></use>
            </svg>
        </form>
          
        <div class="saved-cities">
            <span>City1</span>
            <span>City1</span>
            <span>City1</span>
            <span>City1</span>
        </div>
  </div>

</section>