<section class="weather-data-section">
    <div class="container">
      <div class="weather-boxshadow">
        <div class="weather-data-container">
          <div class="svg-location-wrapper">
            <svg class="weather-cloud-icon">
              <use href="/src/images/header-symbol-defs.svg#cloud-icon"></use>
            </svg>
            <h3 class="location-text">Bucharest, RO</h3>
          </div>
          <div class="temperatures-wrapper">
            <p class="current-temperature">5°</p>
            <div class="temperatures-mobile">
              <div class="minimum-temp">
                <span class="minmax-font">min</span>
                <p class="temp-font">-2°</p>
              </div>
              <span class="line" style="font-size: 35px; color: gray;">|</span>
              <div class="maximum-temp">
                <span class="minmax-font">max</span>
                <p class="temp-font">1°</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="change-page-buttons-wrapper">
      <button class="change-page-buttons" id="one">today</button>
      <button class="change-page-buttons" id="five">5 days</button>
    </div>
    <div class="weather-quote">
        <div class="weather">
            <p class="weather-day">Sun 17</p>
            <div class="weather-time">
                <div class="month-time">
                        <span class="month">March</span>
                        <span class="line" style="font-size: 20px; color: white;">|</span>
                        <span class="time">23:17:59</span>
                </div>
                
                <div class="sunrise-container">
                    <div class="sunrise">
                        <span class="sunrise-time">🌘  19:00</span>
                    </div>
                    <span class="line" style="font-size: 20px; color: white;">|</span>
                    <div class="twilight-container">
                        <span class="twilight-time">☀️  08:13</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="quote">
            <div class="quote-container">
                <p class="quote-text">Bad weather always looks worse through a window.</p>
                <cite class="quote-author">Tom Lehrer</cite>
            </div>
        </div>
    </div>
</section>