<section class="weather-data-section">
  <div class="container">
    <div class="weather-boxshadow">
      <div class="weather-data-container">
        <div class="svg-location-wrapper">
          <svg class="weather-cloud-icon">
            <use href="./svg/symbol-defs.svg#cloud-icon"></use>
          </svg>
          <h3 class="location-text">Bucharest, RO</h3>
        </div>
        <div class="temperatures-wrapper">
          <div class="current-temperature">-3</div>
          <div class="temperatures-mobile">
            <div class="minimum-temp">
              <span class="minmax-font">min</span>
              <p class="temp-font">-2°</p>
            </div>
            <div class="maximum-temp">
              <span class="minmax-font">max</span>
              <p class="temp-font">1°</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="change-page-buttons-wrapper">
      <button class="change-page-buttons">today</button>
      <button class="change-page-buttons">5 days</button>
    </div>
  </div>
</section>
