
    
<section class="page1-container3">
<div class="data-section">
    <p id="data-section-day">8 Fri</p>

<div class="data-section-info">
    <div class="data-section-day-month">
        <span id="data-month">Month</span>
        <span><svg height="20px" width="5px"><use href="./images/symbol-defs-page1-container3.svg#icon-vertical-bar"></use></svg></span>
        <span id="data-time">00:00:00</span>
    </div>
    <div class="data-section-sun">
        <div class="data-sunrise">
            <svg width="20px" height="20px"><use href="./images/symbol-defs-page1-container3.svg#icon-sunrise"></use></svg>
            <span class="sunrise-time"></span>
        </div>

            <span><svg height="20px" width="5px"><use href="./images/symbol-defs-page1-container3.svg#icon-vertical-bar"></use></svg></span>

        <div class="data-sunset">
            <svg width="20px" height="20px"><use href="./images/symbol-defs-page1-container3.svg#icon-sunset"></use></svg>
            <span class="sunset-time"></span>
        </div>
    </div>
</div>
</div>
<div class="quote">
    <div class="blockquote-text">
        <p id="quote-text"></p>
        <span id="quote-author"></span>
    </div>
    
</div>

</section>


