<!--form-ul il stregi-->
<form id="form" class="form">

    <input
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search..."
    >
</form>


<button class="fivedays-button">5 DAYS</button>
<section class="fivedayscontainer">
    
    <div class="wheather-fivedays-section">
        <div class="fivedays-city-country-name">
            <span id="city-fivedays-name">Name</span>
            <span id="country-fivedays-name">Name</span>
        </div>
        
        <ul class="weather-fivedays-container"></ul>
<!-- BUTOANE MOBIL
    <div class="navigation-buttons">
        <button class="left-btn">&lt;</button>
        <button class="right-btn"> > </button>
    </div>
-->
    </div>

</section>
