<section class="weather-data-section">
    <div class="container">
      <div class="weather-boxshadow">
        <div class="weather-data-container">
          <div class="svg-location-wrapper">
            <span class="weather-icon"></span>
            <h3 class="location-text"></h3>
          </div>
          <div class="temperatures-wrapper">
            <p class="current-temperature"></p>
            <div class="temperatures-mobile">
              <div class="minimum-temp">
                <span class="minmax-font">min</span>
                <p class="temp-font" id="minimum"></p>
              </div>
              <span class="line" style="font-size: 35px; color: gray;">|</span>
              <div class="maximum-temp">
                <span class="minmax-font">max</span>
                <p class="temp-font" id="maximum"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="change-page-buttons-wrapper">
      <button class="change-page-buttons" id="five">5 days</button>
    </div>
    <div class="weather-quote">
        <div class="weather">
            <p class="weather-day"></p>
            <div class="weather-time">
                <div class="month-time">
                        <span class="month">March</span>
                        <span class="line" style="font-size: 20px; color: white;">|</span>
                        <span class="time"></span>
                </div>
                
                <div class="sunrise-container">
                    <div class="sunrise">
                        <span class="sunrise-time"></span>
                    </div>
                    <span class="line" style="font-size: 20px; color: white;">|</span>
                    <div class="twilight-container">
                        <span class="twilight-time"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="quote">
            <div class="quote-container">
                <p class="quote-text">Bad weather always looks worse through a window.</p>
                <cite class="quote-author">Tom Lehrer</cite>
            </div>
        </div>
    </div>
</section>